# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_DATABASE=ragweb

# Python service
APP_HOST=0.0.0.0
APP_PORT=9000

# ip2region xdb path
IP2REGION_DB_PATH=./ip2region/ip2region_v4.xdb
